*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 25px;
}

.logo{
    margin: 100px 400px;
    width: 400px;
}
.logo img{
    width: 100%;
}

.new_todo, .todo_container{
    margin-bottom: 50px;
    margin-left: 330px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

input, button{
    font-size: 20px;
    margin: 0 20px 0 20px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 6px;
}

ul{
    width: 90%;
    list-style-type: none;
    margin-left: 20px;
}

li{
    display: flex;
    justify-content: space-between;
}

.sbarrato{
    text-decoration: line-through;
}